

@import url('cursor.css');


:root {
  --bg-color:#141414;
  --bg-color-two:#e0e0e0;
  --txt-color :#f1f1f1;


}


*{
  box-sizing: border-box;
  
}

body{
  background-color: var(--bg-color);
  color: var(--bg-color);
  font-family: 'Helvetica';
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  font-family: 'Cormorant', serif;
  cursor: none;
}
::selection{
  background-color: var(--txt-color);
  color: var(--bg-color);
}
.contact__container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-color-two);
  margin-left: 5rem;
  width: 50%;
}
#map { 
  height: 50rem; 
  width: 50rem;
  filter: grayscale(100%);
  /* border-radius: 50%; */
  margin-right: 5rem;
  cursor:none;
}

img{
  cursor: none;
}

/* MEDIA QUERRIES */
 

 
@media only screen and (max-width: 767px) {
  /* Styles for mobile phones */

  #section__1{
    height: 100vh;
  }
  .button{
    scale:0.4 ;
  }
  .slider{
    margin:1rem;
  }
  .slide__img{
    width: 100%;
    
  }
  .section__info{
    top:15rem;
  }
  #section__2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__txt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 2rem 0rem;
    text-align: justify;
    position: relative;
  }
  #map { 
    margin: auto;
    filter: grayscale(100%);
    /* margin-right: 5rem; */
    cursor:none;
  }

   }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets */
  
  
  #section__1{
    height: 100vh;
  }
  .button{
    scale:0.7 ;
  }
  .slider{
    margin:2rem;
  }
  .slide__img{
    width: 100%;
    
  }
  .section__info{
    top:10rem;
  }
  #section__2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__txt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 2rem 0rem;
    text-align: justify;
    position: relative;
  }
  #map { 
    margin: auto;
    filter: grayscale(100%);
    /* margin-right: 5rem; */
    cursor:none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for small laptops and desktops */
  #section__1{
    height: 100vh;
  }
  .button{
    scale:0.7 ;
  }
  .slider{
    margin:3rem;
  }
  .slide__img{
    width: 100%;
    
  }
  .section__info{
    top:7rem;
  }
  #section__2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__txt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 2rem 0rem;
    text-align: justify;
    position: relative;
  }
  #map { 
    margin: auto;
    filter: grayscale(100%);
    /* margin-right: 5rem; */
    cursor:none;
  }
}
@media only screen and (min-width: 1200px) {
  /* Styles for large laptops and desktops */
}
 











