@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=IBM+Plex+Mono&family=Montserrat&family=Open+Sans&family=Orbitron&family=Roboto&display=swap');

@import url(cursor.css);


/* font-family: 'Cormorant', serif; */
/* font-family: 'IBM Plex Mono', monospace; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */


:root {
  --bg-color:#141414;
  --bg-color-two:#e0e0e0;
  --txt-color :#f1f1f1;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--bg-color-two);
  color: var(--bg-color);
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-family: 'Cormorant', serif;
  cursor: none;
}
::selection{
  background-color:var(--bg-color);
  color: var(--bg-color-two);
}

a{
  cursor: none;
}

#section__1{
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

 .slider{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 5rem ;
  /* IN THE END */
  overflow: hidden;
  /* border: 2px solid green; */
  position: relative;
}
.slider__slide{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
  
  
}
.slide__img{
  width: 85%;
  /* height: 70%; */
  /* border: 2px solid red; */
}
.section__info{
  font-family: 'Cormorant', serif;
  /* font-weight: 600; */
  font-size: larger;
  /* text-decoration:underline; */
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: var(--bg-color);
  position: absolute;
  margin: auto;
  top:0.5rem;
  transition: 0.3s ease-out;
}
.section__info:hover{
  background-color: var(--bg-color);
  color: var(--bg-color-two);
  cursor: none;
}
#section__2{
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;

  align-items: center;
  background-color: var(--bg-color);
  color: var(--bg-color-two);
}
.section__txt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: justify;
  position: relative;
}
.section__txt__p{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  
}
.section__txt__p__bullet{
  margin-bottom: 1rem;
}
.bullet__span{
  opacity: 0.7;
}

.section__map{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: justify;
}
#map { 
  height: 50rem; 
  width: 40rem;
  filter: grayscale(100%);
  margin-right: 5rem;
  cursor:none;
}



/*  Buttons */
.button{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  position: relative;
 rotate: 90deg;
 scale: 0.8;

}

.head{
  position: absolute;
  left:6px;
  top: -11px;
  height: 24px;
  width: 24px;
  background-color: var(--bg-color);
  rotate: 45deg;
  scale: 1.1;
  
}
.body{
  height: 40px;
  width: 36px;
}
  
.button--left{
  rotate: -90deg;
 }

 
 
 /* MEDIA QUERRIES */
 

 
 @media only screen and (max-width: 600px) {
  /* Styles for mobile phones */

  #section__1{
    height: 100vh;
  }
  .button{
    scale:0.4 ;
  }
  .slider{
    margin:1rem;
  }
  .slide__img{
    width: 100%;
    
  }
  .section__info{
    top:10rem;
  }
  #section__2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__txt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 2rem 0rem;
    text-align: justify;
    position: relative;
  }
  #map { 
    margin: auto;
    filter: grayscale(100%);
    /* margin-right: 5rem; */
    cursor:none;
  }

   }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets */
  
  
  #section__1{
    height: 100vh;
  }
  .button{
    scale:0.7 ;
  }
  .slider{
    margin:2rem;
  }
  .slide__img{
    width: 100%;
    
  }
  .section__info{
    top:10rem;
  }
  #section__2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__txt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 2rem 0rem;
    text-align: justify;
    position: relative;
  }
  #map { 
    margin: auto;
    filter: grayscale(100%);
    /* margin-right: 5rem; */
    cursor:none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for small laptops and desktops */
  #section__1{
    height: 100vh;
  }
  .button{
    scale:0.7 ;
  }
  .slider{
    margin:3rem;
  }
  .slide__img{
    width: 100%;
    
  }
  .section__info{
    top:7rem;
  }
  #section__2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__txt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 2rem 0rem;
    text-align: justify;
    position: relative;
  }
  #map { 
    margin: auto;
    filter: grayscale(100%);
    /* margin-right: 5rem; */
    cursor:none;
  }
}
@media only screen and (min-width: 1200px) {
  /* Styles for large laptops and desktops */
}
 
 
 

 
  
  



