@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=IBM+Plex+Mono&family=Montserrat&family=Open+Sans&family=Orbitron&family=Roboto&display=swap');

@import url(cursor.css);


/* font-family: 'Cormorant', serif; */
/* font-family: 'IBM Plex Mono', monospace; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */


:root {
  --bg-color:#141414;
  --bg-color-two:#e0e0e0;
  --txt-color :#f1f1f1;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color-two);
  color: var(--bg-color);
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Cormorant', serif;
  cursor: none;
}
::selection{
  background-color:var(--bg-color);
  color: var(--bg-color-two);
}

/* HOMEPAGE */
.header{
 display: flex;
 justify-content: center;
 
}
.section{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;

}
.container__project{
  position: relative;
}
.container__project__link{
  text-decoration: none;
  color: var(--bg-color);
  font-family: 'Cormorant', serif;
  
}
.container__project__img{
  width: 30rem;
  cursor: none;
}
.container__project__overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  color: var(--txt-color);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:xx-large;
  cursor: none;
  
}
.overlay__img{
  padding-top: 1rem;
  width: 1.8rem;
  opacity: 95%;

}
.container__project :hover .container__project__overlay{
  height: 100%;
}

.footer , .footer__link{
  text-decoration: none;
  color: var(--bg-color);
  transition: 0.15s ease-in;
  cursor: none;
}
.footer:hover, .footer__link:hover{
  background-color: var(--bg-color);
  color: var(--bg-color-two);
  cursor: none;
}

/* Media Querries */

@media only screen and (max-width: 767px) {
  /* Styles for mobile phones */
body{
    display: flex;
    flex-direction: column;
    overflow:scroll;
    /* padding-top: 40rem; */
    height: 100%;
  }
  header{
    margin-bottom: 5rem;
    padding-top: 5rem;
  }
  section{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .container{
    margin-top: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 90%;
    
    /* border: 2px solid red; */
  }
  .container__project__img,.container__project__overlay{
    width: 100%;
    
  }
  .overlay__text{
    text-align: center;
  }
  .footer{
    display: flex;
    justify-content: center;
    margin-top: 40rem;
    padding-top:5rem ;
    height: 20vh;
    
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets */
  body{
    display: flex;
    flex-direction: column;
    overflow:scroll;
    padding-top: 40rem;
    
  }
  header{
    display: flex;
    margin-bottom: 3rem;
  }
  section{
    display: flex;
    flex-direction: column;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 80rem;
  
  }
  .footer{
    margin-top: auto;
    height: 20vh;
  }
  
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for small laptops and desktops */
  body{
    display: flex;
    flex-direction: column;
    overflow:scroll;
    padding-top: 40rem;
    
  }
  header{
    display: flex;
  }
  section{
    display: flex;
    flex-direction: column;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
  
  }
}
@media only screen and (min-width: 1200px) {
  /* Styles for large laptops and desktops */
}





























































